extends layout

block content
  .ui-layout-east
    pre#editor
      | var holaMundo = function() {
      |        return "Hola Mundo";
      | }
      | holaMundo();

  .ui-layout-north
    p(style="margin:0") 
      span(style="line-height: 28px;font-weight: bold;text-transform: uppercase;font-size: 18px;") Coding-Trainer
        span(style="padding:0 0 2px 20px")
          button#tedior Editor
          button#tterm Terminal
          button.send Corregir
      span(style="float:right")
        img(src="./images/avatar.png",style="width: 26px;padding: 0 3px 3px 0; float:left;") 
        span(style="line-height: 28px;") Cristian Cortez
  .ui-layout-south.console
    #console
  .ui-layout-center.browser
    ul.browser-nav-bar
      li
        a.browser-prev-btn(href='#')
          img(src='./images/browser-prev-btn.png', alt='Browser', height='32', width='32')
      li
        a.browser-next-btn(href='#')
          img(src='./images/browser-next-btn.png', alt='Browser', height='32', width='32')
      li
        a.browser-refresh-btn(href='#')
          img(src='./images/browser-refresh-btn.png', alt='Browser', height='32', width='32')
      li
        input.browser-url(type='text', name='browser-url', value='http://localhost/')
      li
        a.browser-go-btn(href='#')
          img(src='./images/browser-go-btn.png', alt='Browser', height='32', width='32')
    iframe#navone.browser-page-container(src='./slides/index.html', frameborder='0', align='center', scrolling='yes', allowtransparency='false', height="100%", width="100%")

  .ui-layout-west
    #player
    h2 Ejercicio
    p Escribir una función que retorne un "Hola Mundo"
    #salida
    button.send(style="float: right;") Corregir
    br
    ul#videoPlaylist
      li
        a.selected(href="#k9-9MQ5tqsc") Introduccion
      li
        a(href="#bVbKNHghLZo") Ejemplo de uso
    ul#encuesta
      li
        a(href="https://docs.google.com/forms/d/135_wG9AFx7RmPNLgujyskUOTKfFXQNc9egNlH_j1gMg/viewform?usp=send_form",style="text-decoration: underline;paddin:0 20px;",target="_blank") Completa la encuesta!! Click aqui!
    #vid-info(style="display: none")
      #videoDuration
      #videoCurrentTime
      #bytesTotal
      #startBytes
      #bytesLoaded

