extends layout

block content
  .ui-layout-center
    pre#editor
      | var alfa = 1;
  .ui-layout-north Node Wings
  .ui-layout-south.console
    #console
  .ui-layout-east East
  .ui-layout-west West

